# Android build output
local.properties
bin/
gen/
libs/
obj/
android/jni/halide/*.s
android/jni/halide/*_cpu.h
android/jni/halide/*_gpu.h

# Linux build output
linux/improsa
linux/halide

# Common build output
src/opencl/*.h
src/halide/blur
src/halide/sharpen
src/halide/sobel

# Misc
.halide
